/* Imports */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Parameteres */
:root{
    
    --html-border: none;
    --container-border: none;
    --banner-border: none;
    --viewport-border: none;
    --cv-border: none;
    --other-border: none;

    /* colors */
    --background-color: #b6cad4;
    --first-background-color: rgba(173, 182, 211, 1);
    --second-background-color: rgba(138, 153, 161, 1);
    --third-background-color: rgb(239, 243, 239);
    --shadow-color: rgba(148, 156, 191, 1);
    --font-color: rgba(18, 24, 77, 1);

    /* geometry */
    --general-border-radius: 1em;

    /* font */
    --general-font-familiy: arial;
    --general-color: #465b7b;

    --title-font-family: arial;
    --title-color: #1c3166;
    
    --subtitle-font-familiy: arial;
    --subtitle-color: #1c3166;

    --subject-font-familiy: arial;
    --subject-color: #1c3166;

    --description-font-familiy: arial;
    --description-color: #1c3166;

    /* images */
    --profile-image: url("./public/assets/images/profilePicture.jpg");
    }

/* General styles */
* {
    box-sizing: border-box;
    margin: 0;
    border: 0;
    padding: 0;
}

span {
    color: var(--title-color);
}

h1 {
    color: var(--title-color);
    font-family: var(--title-font-family);
}

h2 {
    color: var(--subtitle-color);
    font-family: var(--subtitle-font-family);
}

h3 {
    color: var(--subject-color);
    font-family: var(--subject-font-family);
}

p {
    color: var(--description-color);
    font-family: var(--description-font-family);
}

li {
    color: var(--general-color);
}

/* Testing board */

/* *{
    border: 1px solid red;

} */

/* Level 0 - Page layout*/
body {
    width: 100%;
    height: auto;
 

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    background-color: var(--first-background-color);
}

/* Level 1 - Sections layout */
.aboutMe {
    padding: 1.0em;
    
    width: 100%;
    height: 7.5em;

    z-index: 2;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 2em;
    
    box-shadow: 0em 1em 2em var(--shadow-color);

}

.projects {
    padding: 1.0em;
    padding-top: 5em;

    width: 100%;
    height: auto;

    z-index: 1;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-evenly;
    align-items: center;

    gap: 1em;
}

.description{
    padding: 1em;
    gap: 1em;
    
    width: 100%;
    height: auto;

    z-index: 2;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
    align-items: center;

    box-shadow: 0em 0em 2em var(--shadow-color)
}

.experience{
    padding: 1.0em;

    width: 100%;
    height: 100em;
    
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;

    gap: 1em;
}

.abilities{
    padding: 1.0em;

    width: 100%;
    height: auto;

    z-index: 3;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 1em;
    
    box-shadow: 0em 0em 2em var(--shadow-color);
}

.leveling {
    display: flex;
    flex-flow: column wrap;
    gap: 1em;
    padding: 1.0em;

    width: 100%;
    height: auto;

    z-index: 1;
}

/* .abilities:hover + .leveling {
    display: flex;
} */


.credits {
    padding: 1.0em;

    width: 100%;
    height: 7.5em;

    z-index: 2; 
    box-shadow: 0em 0em 2em var(--shadow-color);
}

/* Level 2 - Elements layout */
.photo{
    position: relative;
    
    background-image: var(--profile-image);
    background-size: 12.5em;
    background-repeat: no-repeat;
    background-position: center;
    
    width: 10em;
    height: 10em;
    border-radius: var(--general-border-radius);
    flex-shrink: 0;

}

.name {
    font-size: 2em;
    font-style: bold;
}

.contact {
    width: auto;
    height: auto;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.viewport {
    width: 100%;
    height: auto;
}

.canvas {
    padding: 1em;
    display: flex;
    justify-content: center;
    align-items: center ;
    
    width: auto;
    height: 45em;
    
    border: 2px solid var(--second-background-color);
    border-radius: var(--general-border-radius);
    overflow: hidden;

}

.controls{
    width: 100%;
    height: 10em;

    display: flex;
    justify-content: center;
    align-items: center;

    gap: 1em;
}

.stageNav {
    height: 10em;
    width: 100%;
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.stageBtn {
    width: 100%;
    height: 4.5em;

    background-color: var(--third-background-color);
    border-radius: var(--general-border-radius);
    box-shadow: 0em 0em 1em var(--shadow-color);
}

.navBtn {
    width: 10em;
    height: 100%;

    background-color: var(--third-background-color);
    border-radius: var(--general-border-radius);
    box-shadow: 0em 0em 1em var(--shadow-color);
    flex-shrink: 0;
}

.upwards {

}

.experience {
    height: auto;
    width: auto;

    display: flex;

}

/* .content > ul {
    display: none;
} */

.experience {
}
.experience > div:nth-child(even):not(:last-child) {
    width: 20em;
    align-self: flex-start;
}

.experience > div:nth-child(odd):not(:last-child){
    width: 20em;
    align-self: flex-end;
}

.seeDetails {
    display: inline-block;

    width: 2em;
    height: 2em; 
    background-color: var(--first-background-color);
    border-radius: var(--general-border-radius);
}


.expDescription {
    display: none;
}

/* .timeline {
 
    z-index: 0;
    display: flex;
    width: 100%;
    height: 100%;

}

.mainPipe {
    width: 1em;
    height: 100%;
    background-color: white;
} */

.digitalAb {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap-reverse;
    justify-content: space-evenly;
    align-items: center;

    gap: 10px;
}

.content {
    padding: 2em;

    width: 100%;
    height: 100%;

    position: relative;
    z-index: 4;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: flex-end;
    
    overflow: hidden;
    white-space: normal;
   
    background-color: white;
    border-radius: var(--general-border-radius);

    box-shadow: 0em 0em 1cqb var(--shadow-color);
}

.content:hover > .expDescription {
    display: block;

}

.digitalAb > div {
    width: 5em;
    height: 5em;

    z-index: 4;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-color: var(--third-background-color); 
    border-radius: var(--general-border-radius);
    box-shadow: 0em 0em 1em var(--shadow-color);
}


div[class^='skill'] {
    display: flex;
    gap: 1em;
    width: 100%;
    height: 2.5em;
}

.symbol {
    height: 100%;
    width: 2.5em;

    aspect-ratio: 1/1;

    border-radius: var(--general-border-radius);
    background-color: white;
}

.bar {
    height: 100%;
    width: 100%;

    border-radius: var(--general-border-radius);
    background-color: white;
}

div[class^='skill']:nth-child(odd) > .bar {
    background: linear-gradient(to left, var(--first-background-color) 50%, white 70%);
}

div[class^='skill']:nth-child(even) > .bar {
    background: linear-gradient(to left, var(--first-background-color) 30%, white 70%);
}

div[class^='geometry'] {
    position: relative;
    z-index: 1;

    width: 45%;
    height: 1.5em;

    background-color: white;
    box-shadow: 0em 0em 1em var(--shadow-color);
}

.geometry-up {

    position: relative;
    left: 10%;
    border-top-left-radius: var(--general-border-radius);
    border-top-right-radius: var(--general-border-radius);
}

.geometry-down {
    position: relative;
    left: 35%;

    border-bottom-left-radius: var(--general-border-radius);
    border-bottom-right-radius: var(--general-border-radius);
}

.treeBind-left {
    position: relative;
    bottom: 2em;

}

.branch-left {

    background-color: white;

    width: 1em;
    height: 5em;
    position: relative;
    left: 17em;
    flex-shrink: 0;
}

.base-left {
    background-color: white;

    position: relative;
    right: 1em;
    width: 49vw;
    height: 1em;
}

.treeBind-right {
    position: relative;
    bottom: 2em;

}

.branch-right {

    background-color: white;

    width: 1em;
    height: 5em;
    position: relative;
    left: 2em;
}

.base-right {

    background-color: white;
    position: relative;
    position:relative;

    width: 49vw;
    height: 1em;
}

/* Level 3 - Content layout */

.BIM {
    order: 1;
}


/* Responsive Behaviour */
@media (width <= 480px) {

    body {
        width: 100%;
        height: auto;
    }
    
    .aboutMe {
        width: auto;
        height: 7.5em;

        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;

        gap: 1px;
    }

    .projects {
        padding: 1em;
        padding-top: 9em;
    
        width: 100%;
        height: auto;
    
        z-index: 1;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-end;
    }

    .description {
    }

    .canvas {
        width: 100%;
        height: auto;
        aspect-ratio: 1/1;
    }
    
    .experience { 
        width: 100%;
        height: auto;
    }

    .experience > div:not(:last-child) {
        width: 100%;
        height: auto;

    }

    .content {
        padding: 7.5%;
    }

    .experience > div:nth-child(even) {
        align-self: center;
    }
    
    .experience > div:nth-child(odd){
        align-self: center;
    }

    .leveling {
        display: flex;
    }
    
    
    .credits {
    }

/* Level 2 - Elements layout */
.photo{
    position: relative;
    left: 0;
    padding: 0;

}

.contact {
    width: auto;
    height: auto;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.name {
    font-size: 30px;
}

.digitalAb {
    justify-content: space-evenly;
}

.controls {
    height: 5em;
    gap: 1em;
}

.stageNav {
    height: auto;
    gap: 0.5em;
}

.stageBtn {
    height: 2.25em;
}

.navBtn {
width: 5em;
height: 100%;
}

.nextBtn {}

.prevBtn {}

}

.base-left {
    display: none;
}

.base-right {
    display: none;
}

.branch-left {
    display: none;
}

.branch-right {
    display: none;
}